
/* --Définition des polices-- */

body{

	font-family: Raleway, Arial, Verdana, Serif;
	margin-left: 30px;

}

section2 h1{
	font-size: x-large;
	margin-left: 20px;
}

@font-face{
	font-family: 'raleway';
	src:  url('.fonts/Raleway-Regular.ttf');

}




/* --Header-- */

header{
	display:  flex;
	justify-content: space-between;
	width: 100%;
}

#logo{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#logo img{
	width: 120px;
	height: 50px;
}

nav{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
}

#navigateur{
	list-style-type: none;
	display: flex;

}


nav li{
	margin: 0 10px 0 20px;
	font-weight: normal;
}



nav a{
	font-size: 1.3em;
	color: #0065FC;
	padding-top: 30px;
	text-decoration: none;

}

nav a:hover{
	border-top: solid;
	color: #77818B  ;
}


/* --Main--*/


#hébergements-recherche{
	border: solid;
	width: 80%;
	height: 30%;
}


#bouton-recherche{
	border: solid;
	width: 300px;
	height: 50px;
}

#filtres{
	border: solid;
	width: 80%;
	height: 50px;
}


/* --Section 2-- */

section2{
	display: flex;
	height: 650px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	
}


#hotels-marseille{
	margin-right:  20px;
	border-radius: 10px;
	flex: 3;
	background-color: #E2E4E5;
}

.premièreligne{
	display: flex;
}

.img1{
	width: 100px;
	border-radius: 10px;
	margin-bottom: 20px;
}

.img2{
	width: 100%;
	border-radius: 10px;
	margin-bottom: 20px;
}

figure1{
	height: 50px;
	width: 50px;
	border-radius: 10px;
	margin-bottom: 20px;	
}




aside{
	border-radius: 10px;
	flex: 1;
	background-color: #E2E4E5;
}






/* --Section 3--*/

section3{
	display: inline-flex;
	height: 650px;
	width: 100%;
	border: solid;
	margin-top: 10pxS;
}



