
/* --Définition des polices et taille du texte-- */

body{

	font-family: Raleway, Arial, Verdana, Serif;
	margin-left: 10px;

}


@font-face{
	font-family: 'raleway';
	src:  url('.fonts/Raleway-Regular.ttf');

}

#hébergements-recherche h1{
	font-size: 20px;
	font-weight: bold;
}


#ancre1 h1{
	font-size: x-large;
	font-weight: bold;
	margin-left: 20px;
}

#ancre2 h1{
	font-size: x-large;
	font-weight: bold;
	margin-left: 20px;
}

h2{
font-size: medium;
}

p{
	font-size: 0.8;
	font-weight: normal;
}

span{
	font-weight: bold;
}







/* --Header-- */

header{
	display:  flex;
	justify-content: space-between;
	width: 100%;
}

#logo{
	display: flex;
	flex-direction: row;
	align-items: center;
}

#logo img{
	width: 120px;
	height: 50px;
}

nav{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	
}

nav ul{
	list-style-type: none;
	display: flex;

}


nav li{
	margin: 0 10px 0 10px;
	font-weight: normal;
}



nav a{
	font-size: 1em;
	color: black;
	padding: 30px;
	text-decoration: none;

}

nav a:hover{
	border-top: solid;
	color: #0065FC;
}

#inscription a{
	color: #0065FC;
	font-weight: bold;
}



/* --Section 1 hébergements-recherche--  */


#hébergements-recherche{
	
	width: 80%;
	height: 30%;
}


/* --Bouton recherche-- */

#recherche{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 400px;
	height: 50px;
	margin-bottom: 25px;
	border: 0.5px solid #F2F2F2 ;
	border-radius: 10px;
}

#logo-recherche{
	width: 50px;
	height: 50px;
	box-sizing: border-box;
	border-radius: 10px 0 0 10px;
	background-color: #F2F2F2;
}

#icone-map{
	position: relative;
	top: 17px;
	left: 17px;
}



#champs input{
width: 210px;
height: 50px;
text-align: left;
padding-left: 10px;
font-size: 18px;
color: black;
border: none;
}

#bouton{
	width: 150px;
	height: 50px;
	box-sizing: border-box;
	border-radius: 0 10px 10px 0;
	background-color: #0065FC;
	color: white;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	padding-top: 15px;
	cursor: pointer;
}

#bouton:hover{
	background-color: #77818B;
	transform: scale(1.05);	
}



/* --Filtres recherche dans Section 1-- */


#filtres{
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#titre-filtre{
	font-size: 18px;
	text-align:left;
	margin-right: 20px;
	font-weight: bold;
}

.bloc-filtre{
	display: flex;
	align-items: center;
	margin-right: 20px;
	height: 50px;
	border: solid 2px #F2F2F2;
	border-radius: 30px;
}

.icone{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	padding: 15px;
	box-sizing: border-box;
	background-color: #DEEBFF;
	color: #0065FC;
	border-radius: 35px;
	cursor: pointer;
}


.description{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	padding: 15px;
	box-sizing: border-box;
	border-radius: 0 35px 35px 0;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
}

.bloc-filtre:hover >.description{
	color: #0065FC;
	/*ckground-color: #DEEBFF;*/
}

.bloc-filtre:hover >.icone{
	color: white;
	background-color: #0065FC;
}


/* --Information dans Section 1--*/

#information{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#icone-info{
	width: 20px;
	height: 20px;
	position: relative;
	top: 5x;
	color: #0065FC;
	border: solid 1px #BDBABA;
	border-radius: 25px;
	font-size: 12px;
	text-align: center;
	margin-right: 20px;
}



/* --Section 2-- */

.hébergements{
	display: flex;
	height: 650px;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 20px;
	
}

/* --Hébergements à Marseille-- */

.grand-titre{
	padding-top: 15px;
}


#hotels-marseille{
	height: 650px;
	margin-right:  20px;
	border-radius: 20px;
	flex: 2;
	background-color: #F2F2F2;
	margin-bottom: 35px;
}



#premièreligne{
	display: flex;
	justify-content: space-around;
	height: 230px;
	margin: auto;
}

#deuxièmeligne{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 230px;
	margin-top: 50px;
}

#afficher a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}

#afficher a:hover{
	color: #77818B;
}


.blochotel{
	width: 28%;
	height: 230px;
	background-color: white;
	padding: 0.5%;
	border-radius: 20px;
	box-shadow: 2px 2px 6px grey;
	
}

.blochotel:hover{
	cursor: pointer;
	transform: scale(1.05);
}

.blochotel img{
	width: 100%;
	height: 150px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}

.caption{
	width: 100%;
	height: 80px;
	text-align: left;
	font-size: 12px;
	padding-left: 5px;
	padding-bottom: 10px;
}

.caption h2{
	margin-top: -5px;
}

.étoiles{
	margin-top: -5px;
	color: #0065FC;
	font-size: 12px;
}

.gris i{
	color: #ABADAF;
}







/* --Bloc Aside de la Section 2-- */

aside{
	height: 650px;
	border-radius: 20px;
	flex: 1;
	background-color: #F2F2F2;
	margin-left: 20px;
}

#chart{
	float: right;
	font-size: 18px;
}

#hotels-populaires{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
}

.blocaside{
	display: flex;
	width: 85%;
	height: 160px;
	background-color: white;
	padding: 1%;
	border-radius: 20px;
	margin-left: 25px;
	margin-top: 10px;
	box-shadow: 2px 2px 6px grey;
	
}

.blocaside:hover{
	cursor: pointer;
	transform: scale(1.05);
}

.blocaside img{
	width: 35%;
	height: 160px;
	border-radius: 20px 0 0 20px;
	object-fit: cover;
}

.légende{
	word-wrap: break-word;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 20px;
	font-size: 12px;
	text-align: left;

}





/* --Section 3--*/

.activités-marseille{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 600px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 35px;
}

#bloc1{
	height: 600px;
	width: 300px;
}

#bloc1:hover{
	cursor: pointer;
	transform: scale(1.05);
}



#bloc2{
	height: 600px;
	width: 300px;
}

#bloc2:hover{
	cursor: pointer;
	transform: scale(1.05);
}

#petit-bloc1{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 600px;
	width: 300px;

}

#petit-bloc2{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 600px;
	width: 300px;
}


.bloc-activités{
	height: 600px;
	width: 300px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 2px 2px 6px grey;
}

.bloc-activités p{
	margin: 10px 10px;
}


.bloc-activités img{
	height: 550px;
	width: 300px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;
}



.activités-mini1{
	height: 350px;
	width: 300px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 2px 2px 6px grey;

}


.activités-mini1 img{
	height: 80%;
	width: 300px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;

}

.activités-mini1 p{
	margin: 20px 10px;	
}

.activités-mini1:hover{
	cursor: pointer;
	transform: scale(1.05);
}


.activités-mini2{
	height: 200px;
	width: 300px;
	border-radius: 20px;
	background-color: white;
	box-shadow: 2px 2px 6px grey;
}	

.activités-mini2 img{
	height: 80%;
	width: 300px;
	border-radius: 20px 20px 0 0;
	object-fit: cover;	
}

.activités-mini2 p{
	margin-left: 10px;
	margin-top: 5px;
}


.activités-mini2:hover{
	cursor: pointer;
	transform: scale(1.05);
}




/* --Footer-- */

footer{
	display: flex;
	background-color: #F2F2F2;
	width: 100%;
	height: 180px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 40px 0px 0px 0px;
}

footer a{
	text-decoration: none;
	color: black;
	
}

footer a:hover{
	color: #0065FC;
}

.titres{
	display: inline;
	
}

.liens{
	margin-right: 200px;
	margin-top: 40px;
	margin-left: 50px;
}

div{
	margin-top: 10px;
}